@import url("https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css");

html,
body {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.headers{
  display: flex;
  justify-content: center;
}

#map {
  width: 750px;
  height: 400px;
}

.leaflet-zoom-hide {
	visibility: visible;
	}

svg {
  position: relative;
}

path {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 1.5px;
}

path:hover {
  fill: brown;
  fill-opacity: .7;
}
